<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.project.dao.ICompanyDao">
  <!-- 通过企业登录名查询企业名称 -->
  	<select id="findCompanyNameByAdmin" parameterType="String" resultMap="map_6_1">
  	  	select c_name from company where c_admin=#{admin} and flag=0;
  	</select>
  	<resultMap id="map_6_1" type="CompanyBean">
  		<result property="name" column="c_name"></result>
  	</resultMap>
  	
  	<!-- 通过企业id查询企业信息 -->
  	<select id="getCompanyById" parameterType="int" resultMap="map3">
  	  	select * from company where id=#{id} and flag=0;
  	</select>
  	<resultMap id="map3" type="CompanyBean">
  		<id property="id" column="id"></id>
  		<result property="admin" column="c_admin"></result>
  		<result property="pass" column="c_pass"></result>
  		<result property="name" column="c_name"></result>
  		<result property="addr" column="c_addr"></result>
  		<result property="contacts" column="c_contacts"></result>
  		<result property="phone" column="c_tel"></result>
  	</resultMap>
  	
  	<update id="changeCompanyInfo" parameterType="PersonBean">
		update company set c_admin =#{admin},c_pass =#{pass},c_contacts =#{contacts},c_tel =#{phone} where id=#{id};
	</update>
  	
  	<!-- 企业已租赁车位模糊查询 -->
  	<select id="findCompanyAlreadyRentedFuzzyQuery" resultMap="map_6_2_1">
  		select park.id,park.p_address,park.p_number,
  	  	com.b_number,com.b_startTime,com.b_endTime
  	  	from t_cbdpark park
  	  	join companyrentcontract com
  	  	on park.ram_b_id=com.b_id
  	  	<where>
  	  		<if test="addr!=''">
  	  			and p_address like '%${addr}%'
  	  		</if>
  	  		<if test="p_number!=''">
  	  			and p_number like '%${p_number}%'
  	  		</if>
  	  		<if test="b_number!=''">
  	  			and com.b_number like '%${b_number}%'
  	  		</if>
  	  		<if test="start_time!=''">
  	  			and com.b_startTime &gt;= '${start_time}'
  	  		</if>
  	  		<if test="end_time!=''">
  	  			and com.b_endTime &lt;= '${end_time}'
  	  		</if>
  	  			and com.b_company=#{name} and park.flag=0 and com.flag=0 and park.p_status='已出租' limit #{index},8
  	  	</where>
  	</select>
  	<resultMap id="map_6_2_1" type="CarportBean">
  		<id property="id" column="id"></id>
  		<result property="adress" column="p_address"></result>
  		<result property="carNum" column="p_number"></result>
  		<association property="crc" javaType="CompanyRentContractBean">
  			<result property="number" column="b_number"></result>
  			<result property="startTime" column="b_startTime"></result>
  			<result property="endTime" column="b_endTime"></result>
  		</association>
  	</resultMap>
  	
  	<!-- 企业已租赁车位模糊查询总数量（分页） -->
  	<select id="findCompanyAlreadyRentedFuzzyQueryTotalNum" resultType="int">
  		select count(*) as sum
  	  	from t_cbdpark park
  	  	join companyrentcontract com
  	  	on park.ram_b_id=com.b_id
  	  	<where>
  	  		<if test="addr!=''">
  	  			and p_address like '%${addr}%'
  	  		</if>
  	  		<if test="p_number!=''">
  	  			and p_number like '%${p_number}%'
  	  		</if>
  	  		<if test="b_number!=''">
  	  			and com.b_number like '%${b_number}%'
  	  		</if>
  	  		<if test="start_time!=''">
  	  			and com.b_startTime &gt;= '${start_time}'
  	  		</if>
  	  		<if test="end_time!=''">
  	  			and com.b_endTime &lt;= '${end_time}'
  	  		</if>
  	  			and com.b_company=#{name} and park.flag=0 and com.flag=0 and park.p_status='已出租'
  	  	</where>
  	</select>
  	
  	<!-- CBD平台未租赁车位模糊查询 -->
  	<select id="findCompanyNotRentedFuzzyQuery" resultMap="map_6_3_1">
  		select park.id,park.p_address,park.p_number,
  	  	thi.t_endTime
  	  	from t_cbdpark park
  	  	join thirdparkcontract thi
  	  	on park.oam_t_id=thi.t_id
  	  	<where>
  	  			<if test="addr!=''">
  	  			and p_address like '%${addr}%'
  	  		</if>
  	  		<if test="p_number!=''">
  	  			and p_number like '%${p_number}%'
  	  		</if>
  	  		<if test="end_time!=''">
  	  			and thi.t_endTime &lt;= '${end_time}'
  	  		</if>
  	  			and park.flag=0 and thi.flag=0 and park.p_status='未出租' limit #{index},8
  	  	</where>
  	</select>
  	<resultMap id="map_6_3_1" type="CarportBean">
  		<id property="id" column="id"></id>
  		<result property="adress" column="p_address"></result>
  		<result property="carNum" column="p_number"></result>
  		<association property="tpc" javaType="ThirdParkContractBean">
  			<result property="endTime" column="t_endTime"></result>
  		</association>
  	</resultMap>
  	
  	<!-- CBD平台未租赁车位模糊查询总数量（分页） -->
  	<select id="findCompanyNotRentedFuzzyQueryTotalNum" resultType="int">
  		select count(*) as num
  	  	from t_cbdpark park
  	  	join thirdparkcontract thi
  	  	on park.oam_t_id=thi.t_id
  	  	<where>
  	  		<if test="addr!=''">
  	  			and p_address like '%${addr}%'
  	  		</if>
  	  		<if test="p_number!=''">
  	  			and p_number like '%${p_number}%'
  	  		</if>
  	  		<if test="end_time!=''">
  	  			and thi.t_endTime &lt;= '${end_time}'
  	  		</if>
  	  			and park.flag=0 and thi.flag=0 and park.p_status='未出租'
  	  	</where>
  	</select>
  	
  	<!-- 根据输入企业名称、楼层位置、联系人以及联系电话的模糊查找功能 -->
  	<select id="findCompany" resultMap="map_6_4">
  	  	select id,c_name,c_addr,c_contacts,c_tel from company
  	  	<where>
  	  		<if test="companyBean.name!=null">
  	  			and c_name like '%${companyBean.name}%'
  	  		</if>
  	  		<if test="companyBean.addr!=null">
  	  			and c_addr like '%${companyBean.addr}%'
  	  		</if>
  	  		<if test="companyBean.contacts!=null">
  	  			and c_contacts like '%${companyBean.contacts}%'
  	  		</if>
  	  		<if test="companyBean.phone!=null">
  	  			and c_tel like '%${companyBean.phone}%'
  	  		</if>
  	  			and flag=0 
  	  		<if test="index!=-1">
  	  			limit #{index},4
  	  		</if>
  	  	</where>
  	</select>
  	<resultMap id="map_6_4" type="CompanyBean">
  		<result property="name" column="c_name"></result>
  		<result property="addr" column="c_addr"></result>
  		<result property="contacts" column="c_contacts"></result>
  		<result property="phone" column="c_tel"></result>
  	</resultMap>
  	<!-- 查询模糊查询企业总数量（分页） -->
  	<select id="findCompanyTotalNum" resultType="int">
  	  	select count(*) as num from company
  	  	<where>
  	  		<if test="companyBean.name!=null">
  	  			and c_name like '%${companyBean.name}%'
  	  		</if>
  	  		<if test="companyBean.addr!=null">
  	  			and c_addr like '%${companyBean.addr}%'
  	  		</if>
  	  		<if test="companyBean.contacts!=null">
  	  			and c_contacts like '%${companyBean.contacts}%'
  	  		</if>
  	  		<if test="companyBean.phone!=null">
  	  			and c_tel like '%${companyBean.phone}%'
  	  		</if>
  	  			and flag=0
  	  	</where>
  	</select>
  	<!-- 根据输入企业信息进行新增企业 -->
  	<select id="addCompany" parameterType="CompanyBean">
  	  	INSERT INTO company VALUES(DEFAULT,#{admin},#{pass},#{name},
  	  	#{addr},#{contacts},#{phone},0);
  	</select>
  	<!-- 删除企业(软删除) -->
  	<select id="deleteCompany" parameterType="int">
  	  	UPDATE company SET flag=1 WHERE id=#{id};
  	</select>
  	<!-- 后台进行企业信息的修改 -->
  	<select id="companyBackstageModify" parameterType="CompanyBean">
  	  	UPDATE company SET c_name=#{name},c_addr=#{addr},c_contacts=#{contacts},c_tel=#{phone} WHERE id=#{id};
  	</select>
  	<!-- 查询企业是否已存在 -->
  	<select id="selectIsExistByCompanyId" parameterType="int" resultMap="map_6_8">
  	  	select c_name from company WHERE id=#{id};
  	</select>
  	<resultMap id="map_6_8" type="CompanyBean">
  		<id property="id" column="id"></id>
  		<result property="name" column="c_name"></result>
  	</resultMap>
  	<select id="selectIsExistByCompanyName" parameterType="String" resultMap="map_6_9">
  	  	select c_admin,id from company WHERE c_name=#{name};
  	</select>
  	<resultMap id="map_6_9" type="CompanyBean">
  		<id property="id" column="id"></id>
  		<result property="admin" column="c_admin"></result>
  	</resultMap>
  </mapper>